.heros {
  overflow: hidden;
  background: url(/images/backbg1.jpg);
  background-size: cover;
  
  background-repeat: no-repeat;
  
  background-position: right;

  position: relative;

  h2 {
    font-size: 30px;
    color: rebeccapurple;
    letter-spacing: 10px;
  }
  h1 {
    /* font-size: 80px; */
  }
  .buttons {
    button {
      padding: 20px;
      border: 1px solid white;
      border-radius: 10px;
      background-color: transparent;
      color: white;
      margin-right: 20px;
      cursor: pointer;
      font-weight: 300;
    }
  }
}

.slidingcontainer {
  position: absolute;
  font-size: 30vh;
  bottom: -120px;
  white-space: nowrap;
  color: #ffffff09;
  width: 50%;
  font-weight: bold;
}


 .pic {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #49caeb;
  overflow: hidden;
 
}